{% if restic_env_vars is defined and restic_env_vars.items() is iterable %}
{% for key, value in restic_env_vars.items() %}
export {{ key | upper }}="{{ value }}"
{% endfor %}
{% endif %}
export RESTIC_REPOSITORY="{{ restic_repository }}"
export RESTIC_PASSWORD="{{ restic_repository_password }}"
