RESTIC_REPOSITORY="{{ restic_repository }}"
RESTIC_PASSWORD="{{ restic_repository_password }}"
{% if restic_env_vars is defined and restic_env_vars.items() is iterable %}
{% for key, value in restic_env_vars.items() %}
{{ key | upper }}="{{ value }}"
{% endfor %}
{% endif %}
